
body {
    background-color: rgb(247,215,245);
    color: rgb(0,0,0);
    font-family: "Comic Sans", serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: normal;
	font-size: 90%;
}

